.nav-item a {
  text-transform: capitalize;
}
.swiper-container h2 span {
  display: block;
  font-size: 2em;
}
.post-details {
  color: #fff;
}
.chef-text-color {
  color: #40ab66;
}
.chef-text-color-dark {
  color: #3f5766;
}
.chef-text-color-deep-green {
  color: #40ab66;
}
.chef-text-color-operato {
  color: #0791ad;
}
.chef-text-color-warehouse {
  color: #0082f1;
}
.chef-text-light-yellow-color {
  color: #ffeebf;
}
.chef-background-color {
  background-color: #a73c3d;
}
.chef-background-color-opacity8 {
  background-color: rgba(167, 60, 61, 0.8);
}
.chef-background-color-deep-green {
  background-color: #40ab66;
}
.chef-background-color-operato {
  background-color: #0791ad;
}
.chef-background-color-warehouse {
  background-color: #0082f1;
}
.word-keep {
  word-break: keep-all;
}
.small-h5 {
  font-size: 1.7rem;
  line-height: 2.6rem;
}
.chef-modules .feature-box {
  height: 100%;
}

[main] .post-details {
  position: absolute;
  border-radius: 10px;
  width: 90%;
  margin-top: -30px;
  margin-left: 5%;
  padding: 10px 15px 15px 15px;
}
[main] .bigscreen-animation img {
  height: 100%;
  min-height: 700px;
}
[main] .bigscreen {
  left: 0;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 8s;
  overflow: hidden;
}
[main] .partners .swiper-slide img {
  width: 70%;
}
.map.grayscale {
  filter: grayscale(40%);
}
.gmaps-holder-2 {
  padding: 0;
  height: 500px;
}
.moduleicon-chef {
  overflow: hidden;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.smartfactory .nav-item .active i {
  color: #40ab66 !important;
}
.icon-eq {
  width: 85px;
  height: 85px;
}
.biz-warehouse-p {
  padding: 3px 0;
  text-align: left;
  color: #fff;
}
.history li strong {
  margin-right: 10px;
}
.company .process-step-item {
  width: 100%;
}
